* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 170vh;
}

.services_section {
    width: 100%;
    float: left;
    background: url(../images/about-bg.png)no-repeat center center / cover ;
    height: auto;
    padding: 50px 0;
}
.services_taital {
    width: 100%;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: bold;
}

.services_text {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.express_text {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #252525;
    text-align: center;
    padding-top: 68px;
}

.lorem_text {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    color: #252525;
    text-align: center;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.image_1 {
    width: 100%;
    float: left;
}

/* img {
    max-width: 100%;
    height: auto;
} */

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 20px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    outline-color: initial !important;
    outline-style: none !important;
    outline-width: initial !important;
}

.providing_section {
    width: 100%;
    float: left;
}
.layout_padding {
    padding-top: 90px;
}

#h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;   
}
#span1{
    color: #0c426e;    
}
#span2{
    width: 100px; 
    border-radius: 5px;
    background-color: black;
    /* color: #0c426e; */
}
.clean-quality{
    background: url(https://carwashingcenter.netlify.app/images/img-4.png) center/cover;
    height: 320px;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    color: #ffffff;
}
#btn1{
    margin: 50px 0px 0px;
    padding: 12px 25px;
    background-color: #ffffff;
    color: #0b0b0b;
    margin: -20px;
    transition: 0.4s linear;
    border-radius: 5px;
    border: none;
}
#btn1:hover{
   color: #ffffff;
   background-color: #0b0b0b;
   transform: scale(1.03);
}
.containerr{
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    margin-top: 30px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}
.choose_box{
    width: 335px;
    height: auto;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.number_1{
    display: flex;
    gap: 10px;
}
.choose_box:hover{
    background-color: #0c426e;
    color: #ffffff;
}