* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 170vh;
}

.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/about-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.services_taital {
    width: 100%;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: bold;
}

.services_text {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.express_text {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #252525;
    text-align: center;
    padding-top: 68px;
}

.lorem_text {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    color: #252525;
    text-align: center;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.image_1 {
    width: 100%;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 20px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    outline-color: initial !important;
    outline-style: none !important;
    outline-width: initial !important;
}
providing_section {
    width: 100%;
    float: left;
}
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}
.providing_section {
    width: 100%;
    float: left;
}
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}
