* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 170vh;
}

.services_section {
    width: 100%;
    float: left;
    background: url(../images/about-bg.png)no-repeat center center / cover ;
    height: auto;
    padding: 50px 0;
}
.services_taital {
    width: 100%;
    font-size: 30px;
    color: #252525;
    text-align: center;
    font-weight: bold;
}

.services_text {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.express_text {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #252525;
    text-align: center;
    padding-top: 68px;
}

.lorem_text {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    color: #252525;
    text-align: center;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.image_1 {
    width: 100%;
    float: left;
}

/* img {
    max-width: 100%;
    height: auto;
} */

.seemore_bt {
    width: 170px;
    margin: 0 auto;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 20px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    outline-color: initial !important;
    outline-style: none !important;
    outline-width: initial !important;
}

.providing_section {
    width: 100%;
    float: left;
}
.layout_padding {
    padding-top: 90px;
}

#h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;   
}
#span1{
    color: #0c426e;    
}
#span2{
    width: 100px; 
    border-radius: 5px;
    background-color: black;
    /* color: #0c426e; */
}
.clean-quality{
    background: url(https://carwashingcenter.netlify.app/images/img-4.png) center/cover;
    height: 320px;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    color: #ffffff;
}
#btn1{
    margin: 50px 0px 0px;
    padding: 12px 25px;
    background-color: #ffffff;
    color: #0b0b0b;
    margin: -20px;
    transition: 0.4s linear;
    border-radius: 5px;
    border: none;
}
#btn1:hover{
   color: #ffffff;
   background-color: #0b0b0b;
   transform: scale(1.03);
}
.containerr{
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    margin-top: 30px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}
.choose_box{
    width: 335px;
    height: auto;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.number_1{
    display: flex;
    gap: 10px;
}
.choose_box:hover{
    background-color: #0c426e;
    color: #ffffff;
}
    nav{
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main{
        width: 100%;
        height: 85vh;
        background-color: #FAFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        display: flex;
        align-items: center;
    }
    .navbar:nth-child(1){
        margin-left: 20px;
    }
    .navbar:nth-child(3){
        margin-right: 20px;
        cursor: pointer;
        z-index: +4;
    }
    .navbar:nth-child(2){
        width: 60%;
        font-size: 25px;
        justify-content: space-evenly;
    }
    .navbar img{
        margin-right: 0;
    }
    .nav-texts::before{
        margin-right: 10px;
    }
    .nav-texts:nth-child(1):before{
        content: url(call-icon.png);
    }
    .nav-texts:nth-child(2):before{
        content: url(mail-icon.png);
    }
    .nav-texts:nth-child(3):before{
        content: url(map-icon.png);
    }
    .carwash-center{
        width: 75%;
        height: 65%;
        display: flex;
        align-items: flex-start;
    }
    .center-text{
        font-size: 80px;
        font-family: poppins, sans-serif;
        margin: 0;
        font-weight: bolder;
    }
    .left{
        width: 50%;
        height: 100%;
        display: flex; 
        flex-direction: column;
    }
    .center-btns{
        display: flex;
    }
    .center-btn{
        padding: 12px 38px;
        background-color: #0C426E;
        color: white;
        font-size: 20px;
        border: 0;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .center-btn:hover{
        filter: opacity(0.6);
    }
    .center-btn:nth-child(2){
        margin-left: 15px;
        background-color: black;
    }
    .right{
        width: 50%;
        height: 100%;
        background-image: url(banner-img.png);
        background-size: cover;
    }
    .carousel-btns{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 90px;
    }
    .carousel-btn{
        background-color: black;
        cursor: pointer;
        color: white;
        font-size: 52px;
        margin: 15px;
        transition: 0.2s linear;
    }
    .carousel-btn:hover{
        filter: opacity(0.6);
    }
    .font{
        width: 100%;
        height: 100vh;
        background-color: #0c426ebb;
        position: absolute;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s ease-in;
    }